<link rel="stylesheet" href="/css/output.css" />
@Html.Partial("_Header")

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is the main page</p>
</div>

@Html.Partial("_Footer")
