@model BasicDotNetMVC.Models.ImageNextToParagraphModel


<div class="w-full h-full text-yellow-300 flex justify-center ">
  <!-- Left Image -->
  <div class="w-1/2 h-full flex items-center justify-center p-4 m-4 ">
    <!-- Background Image -->
  <img src="@Model.BackgroundImageUrl" alt="Background Image"
       class="w-full h-full object-contain   rounded-xl  " />
  </div>
  <!-- Right Text -->
  <div class="w-1/2 flex items-center justify-center p-4  rounded-lg">
    <div class="w-2/3 h-full flex items-center justify-center p-4 bg-gray-900 rounded-lg">
    <p class="text-center text-xl">@Model.Description</p>
    </div>
  </div>
</div>
