<head>
    <title>Super Earth Enlistment</title>
    <link rel="icon" type="image/x-icon" href="/Images/HelldiversLogo.jpg" />
    <link rel="stylesheet" href="/css/output.css" />
    @using BasicDotNetMVC.Models
    @model List<HeadlineParagraphImageModel>
</head>
<body class="min-h-screen flex flex-col bg-gray-700 text-white">

    @Html.Partial("_Header")

    <div class="flex flex-col flex-grow lg:flex-row  justify-center px-4 py-8 space-x-6">

        <div class="w-full lg:w-3/4 h-96 lg:h-auto flex flex-grow pb-6 lg:pb-0">
            @Html.Partial("_HeadlineParagraphImage", new HeadlineParagraphImageModel
            {
                Headline = "Join Super Earth's Elite! Join the Helldivers!",
                Description = "Something something something, join the Helldivers today and protect Super Earth from the alien menace. Enlist now and become a hero of Super Earth! This is some more text because I can't think of anything else to write. Liberty, Managed Democracy, and Freedom.",
                BackgroundImageUrl = "/Images/HelldiverHighFive.png"
            })
        </div>

        <div class="w-full lg:w-1/4 bg-gray-800 rounded-xl shadow-lg">
            @Html.Partial("_ContactForm")
        </div>
    </div>

    @Html.Partial("_Footer")
</body>

